<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basket</title>
</head>
<body>
    {% for i in product_list %}
        <form method="POST">
        {% csrf_token %}
        <p> {{ i.name }} </p>
        <img style="width: 400px;" src="{{i.image.url}}" alt="" >
        <button value="{{i.pk}}" name="go-into-basket"> delete</button>
        </form>
    {% endfor %}
</body>
</html>